@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("/fonts/inter-v13-latin_latin-ext-300.woff2") format("woff2");
    }

    @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("/fonts/inter-v13-latin_latin-ext-regular.woff2")
            format("woff2");
    }

    @font-face {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("/fonts/inter-v13-latin_latin-ext-700.woff2") format("woff2");
    }

    html {
        @apply font-display text-mid text-md bg-dark select-none;
    }

    body {
        @apply grid place-content-center;
    }

    main:not(.bracket-page) {
        @apply w-[100dvw] sm:w-[36rem] md:w-[42rem] px-3 pt-6 pb-24 overflow-x-hidden;
    }
    main {
        @apply flex flex-col gap-3 items-center;
    }
    h1,
    h2,
    h3,
    h4 {
        @apply w-full font-bold text-white block;
    }

    h1 {
        @apply text-xxl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-md;
    }
}
